.featured {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}
.textRightContent {
  font-size: 30px;
  font-weight: 800;
}
.timeText {
  color: #ffb900;
  font-size: 12px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 10px;
}
.yello_bottom {
  background-image: url(../../assests/heading-yellow.svg);
  background-size: cover;
  background-position: center;
  width: 29%;
  height: 19px;
  /* margin: 44px; */
}
.freshClip {
  font-family: "Rock Salt";
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: -35px;
}
.advertisement {
  height: 80px;
  background-color: black;
  margin-top: 20px;
}
.textInAdevertise {
  color: #ffb900;
  font-weight: 600;
  width: 120px;
  font-size: 14px;
}
.logosDiv {
  margin: 6px 30px 0px 6px;
}
.subScribeBtn {
  border: white;
  height: 36px;
  width: 120px;
}
.subscribeBtnDiv {
  display: flex;
  margin: 20px 0px 0px 90px;
}
